:root{
    --dark-color:#19283f;
    --green-color:#33d1cc;
    --main-color:#ff3150;
    --yellow-color:#ffc400;
    --section-color:#eff7fa;
}
body{
    font-family: "Roboto",sans-serif;
    
}
.main-btn{
    background-color: var(--main-color);
    color:var(--yellow-color) !important;
    padding:0.5rem 1rem;
}

.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/* Start NavBar */
.navbar{
    background-color:var(--dark-color) !important;
   
}

.navbar .navbar-nav .nav-link{
color:white !important;
}
.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:hover{
    color:var(--green-color) !important;
}
.navbar .search{
border-left: 1px solid var(--green-color);
}
.navbar .search .i{
color:var(--green-color) !important;
}
.navbar .navbar-toggler{
    color:white !important;
    font-size: 25px !important;
    border-color: white !important;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color:var(--green-color) !important;
}
/* .navbar .search a{
    color:yellow !important;
    background-color:var(--main-color) !important ;
    border-color:  transparent !important;
} */

/* End NavBar */
/* Start Landing */
.landing{
    background-color: var(--dark-color);
    min-height:calc(100vh - 72px) ;
   
}
/* .landing .text-center a{
    color:yellow !important;
    background-color: var(--main-color) !important ;
    border-color: transparent !important;
} */


/* End Landing */
/* start features */
.feature .icon-holder{
    height: 200px;
}
.feature .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.feature .icon-holder .number{
    font-size: 12rem;
    color:var(--section-color)
}
.feature .icon-holder .icon{
    color:var(--green-color);
}
.feature .feat h3{
    color:var(--yellow-color);
}
.feature .row .feat{
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
/* End Feauters */
/* Our work */
.our-work{
    background-color: var(--section-color);
}
.our-work ul  .active{
    background-color: var(--main-color);
    color:var(--yellow-color);
    
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover{
color:var(--main-color);
}
.our-work .box{
    padding: 5px;
    overflow: hidden;
    position: relative ;
   
   
}
.our-work .box::before{
    content:attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);;
    width:calc(100% - 10px);
    height: calc(100% - 10px);
    display:none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform:translateX(calc(-100% - -5px))
}
.our-work .box:hover::before {
    transform:translateX(0)}
/* End Work */
/* start sttuf  */
.stuff .desc{
    max-width: 400px;
}
/* End Sttuf */
/* start Team  */
.our-team{
    background-color: var(--section-color);
}
.our-team h2{
    color:var(--yellow-color);
  
}
.our-team .box h4{
    background-color: var(--green-color);
}
.project{
    background-color: var(--dark-color);
    
}
.sub{
    background-color: var(--yellow-color);
}
.sub input[type="text"]{
    border: 1px solid ;
    border-color: transparent transparent white transparent;
    

}
.sub input:focus{
    outline: none;
}
.sub ::placeholder{
    color:white;
}
.sub input[type="submit"]{
    color: var(--yellow-color);
    background-color: var(--dark-color);
}
.footer{
    background-color:var(--dark-color);
}
.concat ul li a i{
    background-color: var(--green-color);
}
.footer .copyright>span{
    color: var(--green-color);
}
.footer .copyright div span{
    color: var(--yellow-color);
}
.footer .concat ul svg{
width:20px;
height: 20px;

}
.footer .facebook{
    background-color:#1877f2;
}
.footer .twitter{
    background-color:#1da1f2;
}
.footer .likedin{
    background-color:#0077b5;
}
.footer .youtube{
    background-color:#ff0000;
}



/* End team */